/*.searchedlistclass {
  margin:20px auto;
  font-size: 50px;
  color:red;
  text-align:center;
}*/
body {
  box-sizing: border-box;
  font-weight: bold;
  background-image: url('http://6.darkroom.shortlist.com/980/9d8a9809f858fdf34e669e427438757a:62b682cb12c42c09c3269b0241b9b7d6/vader-david-prowse-ctc5869.jpg');
  background-size: cover;
  background-attachment: fixed;

}
.searchform {
  text-align: center;
  margin-top: 20px;
  /*margin: 0 auto;*/
}
.searchform input {
 background: cyan;
 font-size: 24px;
 text-align:center;
}
.secondSearchForm {
  text-align:center;
  font-size: 50px;
}
.secondSearchForm input {
  font-size: 30px;
  color:red;
}

.secondSearchForm input:hover {
  cursor: pointer;
}

.formForPost {
  padding: 50px;
}
.formForPost .gametitle {
  font-size: 28px;
}
.formForPost .gamesummary {
  font-size: 24px;
  font-style: italic;
  text-align:justify;
}
.formForPost .gamerating {
  font-size: 24px;
}
.formForPost .releasedate {
  font-size: 24px;
}
.listdiv li{
  list-style-type: none;
  text-align:center;
  margin: 5px;
  font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif;
  font-size: 30px;
  
}
.mycrudlist {
  width:45%;
  float:left;
}
.clearingdiv {
  clear:left;
}
.searchedul {
  width:45%;
  float:right;
  font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}
.myeachgame {
  font-size: 24px;
  text-align:center;
  border:5px black solid;
}
.myeachgame li {
  margin-top:10px;
}
.planningdiv, .playingdiv, .completeddiv, .droppeddiv {
  width:45%;
  text-align:center;
  font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif;
  font-size: 24px;
  border: 5px black solid;
  background: #14E8B3;
  opacity: 0.5;
  float:left;
}
.formForPost {
  border: solid black 5px;
  background: pink;
  opacity: 0.5;
}
