/*.searchedlistclass {
  margin:20px auto;
  font-size: 50px;
  color:red;
  text-align:center;
}*/
body {
  box-sizing: border-box;
}
.searchform {
  text-align: center;
  /*margin: 0 auto;*/
}
.searchform input {
 background: cyan;
 font-size: 24px;
 text-align:center;
}
.secondSearchForm {
  text-align:center;
  font-size: 50px;
}
.secondSearchForm input {
  font-size: 30px;
  color:red;
}

.secondSearchForm input:hover {
  cursor:pointer;
}

.formForPost {
  padding: 50px;
}
.formForPost .gametitle {
  font-size: 28px;
}
.formForPost .gamesummary {
  font-size: 24px;
  font-style: italic;
  text-align:justify;
}
.formForPost .gamerating {
  font-size: 24px;
}
.formForPost .releasedate {
  font-size: 24px;
}