.searchedlistclass {
  list-style-type: none;
  text-align:center;
  font-size: 28px;
}
.searchform {
  text-align: center;
  /*margin: 0 auto;*/
}
.searchform input {
 background: cyan;
 font-size: 24px;
 text-align:center;
}